:host {
  display: block;
  height: 100%;
  position: relative;
}

.controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hpo-terms {
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* width: 320px; */
  max-height: calc(100% - 2rem);
  overflow-y: auto;
  padding: 0.5rem 0.75rem;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  font: 13px sans-serif;
  text-align: left;
}
